<footer class="footer d-lg-block d-none">
  <div class="container">
    <div class="row justify-content-between d-flex">
      <!-- Company Info -->
      <div class="col-md-4">
        <p class="company-name">Done Web Design</p>
        <div class="contact-info">
          <div class="contact-item">
            <span class="material-icons-outlined">language</span>
            <span>Contact Us</span>
          </div>
          <div class="contact-item">
            <span class="material-icons-outlined">mail</span>
            <span>Mail us at:</span>
            <a
              href="mailto:conludo.office@yahoo.com"
              target="_blank"
              class="contact-nr"
            >
              conludo.office&#64;yahoo.com
            </a>
          </div>
          <div class="contact-item mb-0">
            <span class="material-icons-outlined">call</span>
            <span>Our WhatsApp:</span>
            <a
              href="https://wa.me/40734102096"
              target="_blank"
              class="contact-nr"
            >
              +40734102096</a
            >
          </div>
        </div>
      </div>

      <!-- Quick Navigation -->
      <div class="col-auto mt-4">
        <div class="quick-nav row">
          <h3 class="nav-title col-auto pt-1">QUICK NAVIGATION</h3>
          <div class="nav-links col-auto">
            <div class="nav-row">
              <a
                [routerLink]="['/']"
                [fragment]="'development-process'"
                (click)="scrollToElement('development-process')"
                >The Development Process</a
              >
              <a
                [routerLink]="['/']"
                [fragment]="'industries'"
                (click)="scrollToElement('industries')"
                >Industries</a
              >
            </div>
            <div class="nav-row">
              <a
                [routerLink]="['/']"
                [fragment]="'top-challenges'"
                (click)="scrollToElement('top-challenges')"
                >Top Challenges</a
              >
              <a
                [routerLink]="['/']"
                [fragment]="'contact-us'"
                (click)="scrollToElement('contact-us')"
                >Contact Us</a
              >
            </div>
            <div class="nav-row">
              <a [routerLink]="['/cookies']">Cookie Policy</a>
              <a [routerLink]="['/terms']">Terms & Conditions</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row down-footer justify-content-between d-flex">
      <div class="col-auto">
        <img
          src="/dwd-logo-3.png"
          alt="Done Web Design Logo"
          class="logo-footer"
        />
      </div>
      <div class="col-auto">
        <div class="country-info">
          <div class="flags">
            <div class="flag-item">
              <img src="/romania.png" alt="Romanian Flag" />
              <span class="flag-text">Romania</span>
            </div>
            <div class="flag-item">
              <img src="/europe.png" alt="European Union Flag" />
              <span class="flag-text">European Union</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<footer class="footer d-lg-none">
  <div class="container">
    <div class="row justify-content-between d-flex">
      <div class="col-12 mt-4">
        <div class="quick-nav mb-5">
          <h3 class="nav-title col-auto pt-1">QUICK NAVIGATION</h3>
          <div class="nav-links col-auto">
            <div class="nav-row">
              <a
                [routerLink]="['/']"
                [fragment]="'development-process'"
                (click)="scrollToElement('development-process')"
                >The Development Process</a
              >
              <a
                [routerLink]="['/']"
                [fragment]="'industries'"
                (click)="scrollToElement('industries')"
                >Industries</a
              >
            </div>
            <div class="nav-row">
              <a
                [routerLink]="['/']"
                [fragment]="'top-challenges'"
                (click)="scrollToElement('top-challenges')"
                >Top Challenges</a
              >
              <a
                [routerLink]="['/']"
                [fragment]="'contact-us'"
                (click)="scrollToElement('contact-us')"
                >Contact Us</a
              >
            </div>
            <div class="nav-row">
              <a [routerLink]="['/cookies']">Cookies Policy</a>
              <a [routerLink]="['/terms']">Terms & Conditions</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Company Info -->
      <div class="col-12 down-footer mb-5">
        <p class="company-name">Done Web Design</p>
        <div class="contact-info">
          <div class="contact-item">
            <span class="material-icons-outlined">language</span>
            <span>Contact Us</span>
          </div>
          <div class="contact-item">
            <span class="material-icons-outlined">mail</span>
            <span>Mail us at:</span>
            <a
              href="mailto:conludo.office@yahoo.com"
              target="_blank"
              class="contact-nr"
            >
              conludo.office&#64;yahoo.com
            </a>
          </div>
          <div class="contact-item mb-0">
            <span class="material-icons-outlined">call</span>
            <span>Our WhatsApp:</span>
            <a
              href="https://wa.me/40734102096"
              target="_blank"
              class="contact-nr"
            >
              +40734102096</a
            >
          </div>
        </div>
      </div>

      <!-- Quick Navigation -->
    </div>
    <div class="row down-footer justify-content-between d-flex">
      <div class="col-12 d-flex justify-content-center">
        <img
          src="/dwd-logo-3.png"
          alt="Done Web Design Logo"
          class="logo-footer"
        />
      </div>
      <div class="col-12">
        <div class="country-info">
          <div class="flags">
            <div class="flag-item">
              <img src="/romania.png" alt="Romanian Flag" />
              <span class="flag-text">Romania</span>
            </div>
            <div class="flag-item">
              <img src="/europe.png" alt="European Union Flag" />
              <span class="flag-text">European Union</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
