<div class="solutions-container d-none d-md-flex">
  <div class="gap-1">
    <p class="title">industries</p>
    <p class="subtitle">Solutions for Every Industry</p>
  </div>
  <div class="gap-2 d-flex">
    <div class="card">
      <p class="card-title">Finance</p>
      <div class="card-content px-4">
        <p class="card-subtitle">Finance, Banking, & Insurance</p>
        <p class="card-description">
          At Done Web Design, we empower financial services companies, from
          startups to established banks, to navigate the complexities of modern
          technology, customer demands, and regional regulations. Our solutions
          include cutting-edge payment systems, open banking, digital and mobile
          banking applications, innovative lending platforms, blockchain-based
          solutions, and sophisticated investment and trading platforms.
        </p>
      </div>
    </div>
    <div class="card">
      <p class="card-title">ecommerce</p>
      <div class="card-content px-4">
        <p class="card-subtitle">eCommerce, Retail, & Consumer Goods</p>
        <p class="card-description">
          Done Web Design specializes in crafting tailored eCommerce platforms
          for both online and offline retailers. We design and implement custom
          software that boosts operational efficiency, reduces costs, and
          enhances transparency. With over 12 years of experience in digital
          shelf analytics, we deliver solutions that drive higher conversion
          rates and increased revenue, perfectly balancing the needs of
          merchants and consumers.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="solutions-container d-md-none">
  <div class="gap-1">
    <p class="title">industries</p>
    <p class="subtitle">Solutions for Every Industry</p>
  </div>
  <div class="gap-2 d-flex flex-column">
    <div class="card">
      <p class="card-title">Finance</p>
      <div class="card-content px-4">
        <p class="card-subtitle">Finance, Banking, & Insurance</p>
        <p class="card-description">
          At Done Web Design, we empower financial services companies, from
          startups to established banks, to navigate the complexities of modern
          technology, customer demands, and regional regulations. Our solutions
          include cutting-edge payment systems, open banking, digital and mobile
          banking applications, innovative lending platforms, blockchain-based
          solutions, and sophisticated investment and trading platforms.
        </p>
      </div>
    </div>
    <div class="card">
      <p class="card-title mt-5">ecommerce</p>
      <div class="card-content px-4">
        <p class="card-subtitle">eCommerce, Retail, & Consumer Goods</p>
        <p class="card-description">
          Done Web Design specializes in crafting tailored eCommerce platforms
          for both online and offline retailers. We design and implement custom
          software that boosts operational efficiency, reduces costs, and
          enhances transparency. With over 12 years of experience in digital
          shelf analytics, we deliver solutions that drive higher conversion
          rates and increased revenue, perfectly balancing the needs of
          merchants and consumers.
        </p>
      </div>
    </div>
  </div>
</div>
