<div class="cookies-container">
  <div class="cookies-title">Cookies Policy</div>
  <div class="last-updated">Last updated: {{ lastUpdated }}</div>

  <section class="section">
    <h2>1. What are cookies?</h2>
    <p>
      Cookies are small text files stored on your device (computer, tablet,
      mobile phone) when you visit our website. They allow the website to
      recognize your device and remember information about your visit, such as
      language preferences, font size, and other display settings.
    </p>
    <p>
      Cookies are widely used to make websites function more efficiently and to
      provide information to site owners. They enhance user experience and help
      personalize content.
    </p>
  </section>

  <section class="section">
    <h2>2. Types of cookies we use</h2>
    <div class="cookie-type" *ngFor="let type of cookieTypes">
      <h3>{{ type.title }}</h3>
      <p>{{ type.content }}</p>
      <p class="examples">{{ type.examples }}</p>
    </div>
  </section>

  <section class="section">
    <h2>3. How we use cookies</h2>
    <p>We use cookies for various purposes, including:</p>
    <ul>
      <li>Ensuring the proper functionality of our website</li>
      <li>
        Saving your preferences and providing you with a personalized experience
      </li>
      <li>Analyzing how our website is used to improve its performance</li>
      <li>Delivering advertisements tailored to your interests</li>
      <li>Facilitating content sharing on social media platforms</li>
    </ul>
  </section>

  <section class="section">
    <h2>4. Third-party cookies</h2>
    <p>
      In addition to our own cookies, we allow certain third parties to place
      cookies on your device when you visit our site. These third parties
      include:
    </p>
    <ul>
      <li *ngFor="let cookie of thirdPartyCookies">{{ cookie }}</li>
    </ul>
    <p>
      These third parties may use their own cookies to collect information about
      your online activities across different websites. We recommend reviewing
      their privacy policies for more information about how they use your data.
    </p>
  </section>

  <section class="section">
    <h2>5. Managing cookies</h2>
    <p>
      You can control and manage cookies in various ways. Most web browsers
      allow you to manage your cookie preferences through their settings.
    </p>
    <p>You can:</p>
    <ul>
      <li *ngFor="let option of managementOptions">{{ option }}</li>
    </ul>
    <p>
      Please note that blocking or deleting cookies may affect your browsing
      experience and some features of our website may become unavailable.
    </p>
    <p>
      For information on how to manage cookies in your browser, please refer to
      the browser's help pages:
    </p>
    <ul class="browsers">
      <li *ngFor="let browser of browsers">
        {{ browser }}
      </li>
    </ul>
  </section>

  <section class="section">
    <h2>6. Changes to the Cookie Policy</h2>
    <p>
      We reserve the right to update the Cookie Policy at any time. Any changes
      will be posted on this page, and the "Last updated" date at the top will
      be revised accordingly.
    </p>
    <p>
      We encourage you to review this Cookie Policy periodically to stay
      informed about how we use cookies.
    </p>
  </section>

  <section class="section">
    <h2>7. Contact</h2>
    <p>
      If you have any questions or concerns regarding the Cookie Policy or our
      practices, please contact us at:
    </p>
    <div class="contact-info d-flex flex-column">
      <a href="email:conludo.office@yahoo.com " target="_blank"
        >Email: {{ contactInfo.email }}</a
      >
      <a>Address: {{ contactInfo.address }}</a>
      <a href="tel:+40734102096" target="_blank"
        >Phone: {{ contactInfo.phone }}</a
      >
    </div>
  </section>
</div>
