<div class="contact-container row">
  <div class="col-md-6 col-12">
    <div class="contact-form gap-3 d-flex flex-column align-items-center">
      <h2 class="heading">Contact Us!</h2>
      <p class="sub-heading">
        Fill out the form below and we'll get back to you once we've processed
        your request. * indicates a required field.
      </p>
      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="px-3">
        <div class="row mb-4">
          <mat-form-field class="col-md-6 col-12 input-field" appearance="fill">
            <input placeholder="*Name" matInput formControlName="name" />
          </mat-form-field>
          <mat-form-field class="col-md-6 col-12 input-field" appearance="fill">
            <input placeholder="*Company" matInput formControlName="company" />
          </mat-form-field>
        </div>
        <div class="row mb-5">
          <mat-form-field class="col-md-6 col-12 input-field" appearance="fill">
            <input
              placeholder="*Corporate Email"
              matInput
              formControlName="email"
              type="email"
            />
          </mat-form-field>
          <mat-form-field class="col-md-6 col-12 input-field" appearance="fill">
            <input
              placeholder="*Phone"
              matInput
              formControlName="phone"
              type="tel"
            />
          </mat-form-field>
        </div>
        <div class="form-actions">
          <button
            class="btn-primary"
            type="submit"
            [class.disabled]="!contactForm.valid"
            [disabled]="!contactForm.valid"
          >
            Send
          </button>
          <span class="privacy-notice">
            By clicking Send, you agree to our
            <a routerLink="/privacy-policy" class="privacy-link"
              >Privacy Policy</a
            >
          </span>
        </div>
      </form>
    </div>
  </div>
  <div class="col-md-6 col-12 office-container">
    <div class="office-card">
      <h2 class="office-heading">Our Office</h2>
      <div class="country-info">
        <img src="/romania.png" alt="Romania Flag" class="flag" />
        <span class="country">ROMANIA</span>

        <div class="address-info">
          Suite 5, Plaza 256,<br />
          Sector 2, Strada Maria Rosetti 36,<br />
          Bucharest, Romania<br />
          <a href="tel:+40734102096">+40734102096</a>
        </div>
      </div>
    </div>
  </div>
</div>
